/*
font-family: 'Montserrat', sans-serif;              Head
font-family: 'Open Sans Condensed', sans-serif;     Body
*/

@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Montserrat+Alternates:300,300i,400,700,700i&display=swap');



body {
    background-color: black;
    color: yellow;
    font-size: 16px;
    font-family: 'Montserrat Alternates', sans-serif;
    letter-spacing: 1px;
    margin: 0px 200px 20px 200px;
}

html {
    background-image: url(images/twinkle.gif);
    background-size: 250px;
 
}

h1, h2, h3 {
    font-family: 'Julius Sans One', sans-serif;   
    text-align: center;
}


