/*
font-family: 'Montserrat', sans-serif;              Head
font-family: 'Open Sans Condensed', sans-serif;     Body
*/

@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Montserrat+Alternates:300,300i,400,700,700i&display=swap');

a:focus, a:hover {
    background-color: #0a0a47; 
    border-radius: 5px;
}

a:link, a:visited {
    color: #80A1F9; 
    text-decoration: none;
}

body {
    background-color: black;
    color: white;
    font-size: 16px;
    font-family: 'Montserrat Alternates', sans-serif;
    letter-spacing: 1px;
    margin: 0px 200px 20px 200px;
}

header {
    background-image: url(images/Hum.png);
    background-size: cover;
    height: 500px;
}

html {
    background-image: url(images/real.gif);
    background-size: 330px;
 
}

h1, h2, h3 {
    font-family: 'Julius Sans One', sans-serif;   
    text-align: center;
}

h1, h2 {
    font-size: 2em;
}
